





<!--  how to use css in python_ flask-->

<!DOCTYPE html>
<header>
    <img src="statics/logo_oc.png">      
</header>
     
<html lang="en">
<head>
<!--  Load CSS in Flask with html-->
    <link rel="stylesheet" href='/statics/main.css' />
 
<!--  Load JavaScript in Flask with html-->
  <form action="/data" method = "POST">
  </head>
    <body>
      <h1>BERT API for StackOverflow posts</h1>
      <p>this is were you should put your post</p>
      <textarea id="multiliner" name="multiliner" style="width:800px;height:400px;font-size:14pt;">
      Enter your post here</textarea>
      <p><input type = "submit" value = "Submit" /></p>
    </body>
  </form>
</html>
