html {
  height: 100%;
  }

body {
  background: rgb(255,255,255);
  background: linear-gradient(175deg, rgba(255,255,255,1) 19%, rgba(119,63,189,1) 72%, rgba(255,163,0,1) 100%);
  margin-top: 120px;
  margin-left: 100px;
  min-height: 100%;
  }
 
h1 {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 2.5em;
  color: rgba(119,63,189,1);
  }
 
p {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1.2em;
  color: DarkSlateGray;
  }

header { width: 200px;
  height: 60px; line-height: 60px;                 
  }   
  
header img { float:left;
  width: 80px;
  margin: 10px;          
  }
  

